[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-binary-memcached = "*"
asyncpraw = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = ">=3.9"
