aiohttp==3.7.3
async-timeout==3.0.1
asyncpraw==7.1.0
asyncprawcore==1.5.0
attrs==20.3.0
chardet==3.0.4
idna==2.10
multidict==5.1.0
python-binary-memcached==0.30.1
six==1.15.0
typing-extensions==3.7.4.3
uhashring==1.2
yarl==1.6.3
